
.login{
    .acount-logins{
        padding: 0 64px;
        .acounts{
            margin-bottom: 38px;
            .acounts-input{
                font-size: 28px;
                padding-bottom: 28px;
                border-bottom: 1PX solid #EDEDEF;
                text-align: left;
            }
        }
        .pwd{
            margin-bottom: 14px;
            position: relative;
            .pwd-input{
                font-size: 28px;
                padding-bottom: 28px;
                border-bottom: 1PX solid #EDEDEF;
                text-align: left;
            }
            .show{
                width: 48px;
                height: 48px;
                position: absolute;
                right: 0;
                top:0
            }
        }
        .forget-pwd{
            display: flex;
            justify-content: flex-end;
            margin-bottom: 76px;
            .ftexts{
                color: #9C9DA6;
                font-size: 28px;
            }
        }
        .loginbtn{
            width: 622px;
            height: 98px;
            background: #FFC4C8;
            border-radius: 48px;
            font-size: 32px;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            outline: none;
        }
        .loginbtnActive {
            background: #FF4966;
            box-shadow: 0px 20px 48px -14px rgba(255, 73, 102, 0.5);
            border-radius: 48px;
        }
        .zhuce{
            font-size: 28px;
            color: #707177;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 48px;
        }
    }
}