{
  "extends": ["taro", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "import/first": false,
    "react/sort-comp": false,
    "@typescript-eslint/no-explicit-any": false,
    "@typescript-eslint/ban-ts-ignore": false,
    "@typescript-eslint/camelcase": false,
    "@typescript-eslint/no-unused-vars": ["warn", { "varsIgnorePattern": "Taro" }],
    "@typescript-eslint/type-annotation-spacing": false,
    "@typescript-eslint/interface-name-prefex": false,
    "react/no-multi-comp": false,
    "jsx-quotes": "off",
    "no-unused-vars": ["warn", { "varsIgnorePattern": "Taro" }],
    "react/jsx-closing-bracket-location": false,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
    "@typescript-eslint/member-delimiter-style": false,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-empty-function": ["warn"],
    "react/jsx-indent-props": [true, 4],
    "import/no-commonjs": false,
    "@typescript-eslint/no-var-requires": ["off"]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "useJSXTextNode": true,
    "project": "./tsconfig.json"
  }
}
