.xy_float_modal{
    .float-layout {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        visibility: hidden;
        z-index: 810;
        -webkit-transition: visibility 300ms cubic-bezier(0.36, 0.66, 0.04, 1);
        -o-transition: visibility 300ms cubic-bezier(0.36, 0.66, 0.04, 1);
        transition: visibility 300ms cubic-bezier(0.36, 0.66, 0.04, 1);
    }

    .float-layout__overlay {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0;
        -webkit-transition: opacity 150ms ease-in;
        -o-transition: opacity 150ms ease-in;
        transition: opacity 150ms ease-in;
    }
    .float-layout__container {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: #FFF;
        border-radius: 32px 32px 0px 0px;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        -webkit-transition: -webkit-transform 300ms cubic-bezier(0.36, 0.66, 0.04, 1);
        transition: -webkit-transform 300ms cubic-bezier(0.36, 0.66, 0.04, 1);
        -o-transition: transform 300ms cubic-bezier(0.36, 0.66, 0.04, 1);
        transition: transform 300ms cubic-bezier(0.36, 0.66, 0.04, 1);
        transition: transform 300ms cubic-bezier(0.36, 0.66, 0.04, 1), -webkit-transform 300ms cubic-bezier(0.36, 0.66, 0.04, 1);
    }
    .float-layout--active {
        visibility: visible;
    }
    .float-layout--active .float-layout__overlay {
        opacity: 1;
    }
    .float-layout--active .float-layout__container {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .at-float-layout .layout-body__content {
        max-height: 100vh;
    }
    .at-float-layout .layout-body{
        padding: 0;
        max-height: 100vh;
    }
    .at-float-layout__container{
        max-height: 100vh;
        background: #F5F6F9;
        border-radius: 32px 32px 0px 0px;
    }
    .xy_modal_container{
        .title_bar{
            display: flex;
            align-items: center;
            position: relative;
            height: 108px;
            .title{
                position: absolute;
                top: 32px;
                left: 50%;
                transform: translate(-50%,0);
                .txt{
                    font-size: 32px;
                    font-weight: 500;
                    color: #121314;
                }
            }
            .close{
                position: absolute;
                top: 32px;
                right: 32px;
            }
        }
        .vote_list_container{
            padding: 0 32px;
            .current_package{
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 116px;
                .current_package_name{
                    font-size: 28px;
                    font-weight: 500;
                    color: #121314;
                }
                .current_package_right{
                    display: flex;
                    align-items: center;
                    .num{
                        font-size: 32px;
                        font-weight: 500;
                        color: #121314;
                        display: flex;
                    }
                    .price{
                        display: flex;
                        align-items: baseline;
                        color: #FF4966;
                        padding-left: 32px;
                        .symbol{
                            font-size: 24px;
                            font-weight: 400;
                            color: #ff4966;
                            display: flex;
                        }
                        .number{
                            font-size: 36px;
                            font-weight: 500;
                            color: #ff4966;
                        }
                    }
                }
            }
            .more_vote_package{
                margin-bottom: 32px;
                .txt{
                    font-size: 28px;
                    font-weight: 500;
                    color: #121314;
                }
            }
            .vote_list_scroll{
                .more_vote_list{
                    max-height: 380px;
                    .vote_item{
                        display: flex;
                        height: 112px;
                        padding: 0 32px;
                        align-items: center;
                        justify-content: space-between;
                        position: relative;
                        border-radius: 16px;
                        margin-bottom: 16px;
                        .disable_img{
                            width: 44px;
                            height: 44px;
                        }
                        .vote_left{
                            display: flex;
                            align-items: center;
                            position: relative;
                            .vote_num_txt{
                                position: relative;
                                width: auto;
                                margin-left: 32px;
                                display: inline-block;
                                .vote_offset{
                                    font-size: 32px;
                                    font-weight: 500;
                                    color: #121314;
                                    display: flex;
                                    align-items: center;
                                }
                                .delete_line{
                                    &:before{
                                        content: "";
                                        position: absolute;
                                        top: 50%;
                                        margin-top: -1px;
                                        left: 0;
                                        width: 100%;
                                        height: 2px;
                                        background: #9c9da6;
                                    }
                                }
                            }
                            .current_txt{
                                font-size: 24px;
                                margin-top: 2px;
                                color: #fff;
                                width: 112px;
                                height: 32px;
                                background: #ff4966;
                                border-radius: 4px;
                                margin-left: 20px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                            .item_popover_info{
                                position: relative;
                                width: auto;
                                height: auto;
                                .pop_icon{
                                    margin-left: 16px;
                                    margin-top: -10px;
                                    .i_pop_img{
                                        width: 24px;
                                        height: 24px;
                                    }
                                }
                                .pop_info{
                                    position: absolute;
                                    top: 100%;
                                    left: -20px;
                                    z-index: 10;
                                    display: flex;
                                    align-items: center;
                                    box-sizing: border-box;
                                    padding: 0 20px;
                                    width: auto;
                                    height: 60px;
                                    background: rgba(20,20,43,0.72);
                                    border-radius: 16px;
                                    &:before{
                                        content: "";
                                        position: absolute;
                                        top: -12px;
                                        left: 36px;
                                        z-index: 11;
                                        border-left: 12px solid transparent;
                                        border-right: 12px solid transparent;
                                        border-bottom: 12px solid rgba(20,20,43,0.72);
                                    }
                                    .txt{
                                        font-size: 28px;
                                        color: #fff;
                                        white-space: nowrap;
                                    }
                                }
                            }
                        }
                        .price{
                            display: flex;
                            align-items: baseline;
                            color: #FF4966;
                            padding-left: 32px;
                            .symbol{
                                font-size: 24px;
                                font-weight: 400;
                                color: #ff4966;
                                display: flex;
                            }
                            .number{
                                font-size: 36px;
                                font-weight: 500;
                                color: #ff4966;
                            }
                        }
                    }
                    .vote_item_active{
                        background: #f5f6f9;
                    }
                }
            }
        }
        .vote_bottom_button{
            height: 120px;
            padding: 16px 0 0;
            padding-bottom: constant(safe-area-inset-bottom);
            padding-bottom: env(safe-area-inset-bottom);
            display: flex;
            align-items: center;
            justify-content: center;
            .red_change_button{
                width: 670px;
                height: 88px;
                background: #ff4966;
                border-radius: 200px;
                line-height: 88px;
                text-align: center;
                font-size: 28px;
                font-weight: 500;
                color: #ffffff;
            }
        }
    }
}
