.taro_page{
    background: #F5F6F9;
}
.cart{
    .nav-bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 88px;
        // position: fixed;
        // z-index: 10;
        width: 100%;
        box-sizing: border-box;
        background: #FFF;
        position: relative;
        .left{
            padding-left: 32px;
        }
        .center{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 50%;
            transform: translate(-50%,0);
            .title{
                font-size: 36px;
                font-weight: 500;
                color: #121314;
            }
        }
        .right{
            padding-right: 32px;
            .txt{
                font-size: 32px;
                font-weight: 400;
                color: #121314;
            }
        }
    }
    .list{
        
    }
}
