.taro_page,page{
    background: #F5F6F9;
}
.confirm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 100%;
    .nav-bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 88px;
        width: 100%;
        // box-sizing: border-box;
        background: #FFF;
        position: relative;
        .left{
            padding-left: 32px;
        }
        .center{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 50%;
            transform: translate(-50%,0);
            .title{
                font-size: 36px;
                font-weight: 500;
                color: #121314;
            }
        }
        .right{
            padding-right: 32px;
        }
    }
    .print_status_box{
        height: 216px;
        background: #ffffff;
        border-radius: 16px;
        padding: 0 56px;
        display: flex;
        align-items: center;
        .device_status{
            display: flex;
            flex-direction: column;
            align-items: center;
            .icon{
                width: 96px;
                height: 96px;
            }
            .txt{
                font-size: 24px;
                font-weight: 500;
                text-align: CENTER;
                color: #4d94ff;
                line-height: 40px;
            }
        }
        .waiting_box{
            margin-left: 150px;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .waiting{
                display: flex;
                flex-direction: column;
                align-items: center;
                .num{
                    font-size: 32px;
                    font-weight: 500;
                    text-align: CENTER;
                    color: #4d94ff;
                    line-height: 48px;
                    margin-bottom: 16px;
                }
                .wtip{
                    font-size: 24px;
                    font-weight: 400;
                    text-align: CENTER;
                    color: #9c9da6;
                    line-height: 40px;
                }
            }
            .time{
                display: flex;
                flex-direction: column;
                align-items: center;
                .ttop{
                    font-size: 32px;
                    font-weight: 500;
                    text-align: CENTER;
                    color: #4d94ff;
                    line-height: 48px; 
                    margin-bottom: 16px;
                }
                .ttip{
                    font-size: 24px;
                    font-weight: 400;
                    text-align: CENTER;
                    color: #9c9da6;
                    line-height: 40px;
                }
            }
        }
    }
    .address-part-has{
        position: relative;
        .c_address{
            display: flex;
            align-items: center;
            padding: 30px 32px;
            width: 100vw;
            box-sizing: border-box;
            background: linear-gradient(180deg, rgba(255, 73, 102, 0.08) 0%, rgba(255, 255, 255, 0) 100%);
            .icon{
                margin-right: 22px;
            }
            .info{
                display: flex;
                flex-direction: column;
                .youi{
                    display: flex;
                    align-items: center;
                    margin-bottom: 6px;
                    .name{
                        padding-right: 32px;
                    }
                    .name,.phone{
                        font-size: 32px;
                        font-weight: 500;
                        color: #121314;
                    }

                }
                .details{
                    font-size: 28px;
                    font-weight: 400;
                    color: #121314;
                }
            }
            .right{
                margin-left: auto;
                margin-right: 0;
            }
        }
        .address_line{
            width: 100%;
            height: 6px;
            display: flex;
        }
    }
    .address-part{
        margin: 16px 0 0;
        padding: 32px;
        background: #FFF;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title{
            font-size: 32px;
            font-weight: 500;
            color: #121314;
        }

    }
    .goods-info{
        padding: 32px;
        background: #FFF;
        margin-top: 16px;
        .title{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 24px;
            .txt{
                font-size: 32px;
                font-weight: 500;
                color: #121314;
            }
        }
        .info{
            display: flex;
            align-items: flex-start;
            .pre-image{
                position: relative;
                width: 160px;
                height: 160px;
                margin-right: 24px;
                .img{
                    width: 160px;
                    height: 160px;
                    border-radius: 16px;
                    background: #CCC;
                }
                .big{
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    right: 8px;
                    bottom: 8px;
                }
            }
            .center{
                display: flex;
                flex-direction: column;
                max-width: 310px;
                .name{
                    font-size: 28px;
                    font-weight: 400;
                    color: #121314;
                    margin-bottom: 12px;
                }
                .params{
                    font-size: 24px;
                    font-weight: 400;
                    color: #9C9DA6;
                }
            }
            .right{
                margin-left: auto;
                margin-right: 0;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                .price{
                    display: flex;
                    align-items: baseline;
                    color: #121314;
                    font-weight: 500;
                    margin-bottom: 55px;
                    .sym{
                        font-size: 24px;
                        padding-right: 4px;
                    }
                    .num{
                        font-size: 32px;                        
                    }
                }
                .nums_right{
                    font-size: 36px;
                    font-weight: 500;
                    color: #121314;
                }
            }
        }
        .add_buy{
            margin-top: 32px;
            position: relative;
            // .back_ground{
            //     position: absolute;
            //     width: 100%;
            //     height: 176px;
            //     background: linear-gradient(180deg, #FFF5F5 0%, #FFFFFF 100%);
            //     z-index: 0;
            // }
            .add_buy_title{
                z-index: 1;
                margin-bottom: 44px;
                .line{
                    display: flex;
                }
                .ygyp{
                    width: 132px;
                    height: 28px;
                    display: flex;
                }
                .adv{
                    font-size: 28px;
                    font-weight: 400;
                    color: #707177;
                    line-height: 28px;
                    padding-left: 12px;
                }
                .tip{
                    font-size: 28px;
                    font-weight: 400;
                    color: #FF4966; 
                    line-height: 28px;
                    padding-left: 16px;
                }
            }
        }
        .add_buy_container{
            z-index: 1;
        }
    }
    .goods-item{
        padding: 32px;
        background: #FFF;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #EDEDEF;
        .title{
            font-size: 32px;
            font-weight: 500;
            color: #121314;
        }
        .order_message{
            width: 75%;
            text-align: right;
            color: #121314;
            font-size: 28px;
        }
        .order_message_placeholder{
            color: #9c9da6;
            font-size: 28px;
        }
        .price{
            display: flex;
            align-items: baseline;
            color: #121314;
            .sym{
                font-size: 24px;
                font-weight: 500;
                padding-right: 4px;
            }
            .num{
                font-size: 32px;
                font-weight: 500;
            }
        }
        .red{
            color: #FF4966;
        }
        .right{
            display: flex;
            align-items: center;
            .txt{
                font-size: 28px;
                font-weight: 400;
                color: #9C9DA6;
                padding-right: 8px;
            }
            .tt{
                color: #9C9DA6;
                display: flex;
                align-items: center;
                font-size: 28px;
                font-weight: 400;
                .n{
                    color: #FF4966;
                    padding: 0 4px;
                }
            }
        }

    }
    .product_price{
        display: flex;
        flex-direction: column;
        background: #FFF;
        .add_buy_discount{
            display: flex;
            justify-content: space-between;
            padding: 0 32px 32px;
            .add_buy_name{
                // width: 112px;
                height: 40px;
                background: #FFF0F0;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                .txt{
                    font-size: 24px;
                    font-weight: 400;
                    color: #FF4966;
                    line-height: 40px;
                }
            }
            .price{
                display: flex;
                align-items: baseline;
                color: #FF4966;
                .sym{
                    font-size: 24px;
                    font-weight: 500;
                    padding-right: 4px;
                }
                .num{
                    font-size: 32px;
                    font-weight: 500;
                }
            }
        }
    }
    .bottom{
        padding-bottom: constant(safe-area-inset-bottom);
        padding-bottom: env(safe-area-inset-bottom);
        background: #FFF;
        .main{
            width: 100%;
            padding: 0 32px;
            height: 120px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .left{
            display: flex;
            align-items: baseline;
            .title{
                font-size: 28px;
                font-weight: 400;
                color: #121314;
            }
            .price{
                display: flex;
                align-items: baseline;
                color: #FF4966;
                .sym{
                    font-size: 32px;
                    font-weight: 500;
                    padding-right: 4px;
                }
                .num{
                    font-size: 48px;
                    font-weight: 500;
                }
            }
        }
        .submit-order-btn{
            width: 256px;
            height: 88px;
            background: rgba(255, 73, 102, 0.4);
            border-radius: 48px;
            font-size: 32px;
            font-weight: 500;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .submit-order-active{
            background: #FF4966;
        }
    }
    .yhlist{
        padding: 0 32px 32px;
        max-height: 720px;
    }
    .yh_ops{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 176px;
        padding-bottom: constant(safe-area-inset-bottom);
        padding-bottom: env(safe-area-inset-bottom);
        .use-btn{
            width: 686px;
            height: 96px;
            background: #FF4966;
            box-shadow: 0px 20px 48px -14px rgba(255, 74, 101, 0.5);
            border-radius: 48px;
            font-size: 32px;
            font-weight: 500;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    

}