.taro_page{
    background: #F5F6F9;
}
.index{
    height: 100%;
    background: #F5F6F9;
    .nav-bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 88px;
        width: 100%;
        background: #FFF;
        position: relative;
        .left{
            padding-left: 32px;
        }
        .center{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 50%;
            transform: translate(-50%,0);
            .title{
                font-size: 36px;
                font-weight: 500;
                color: #121314;
            }
        }
        .right{
            padding-right: 32px;
        }
    }
    .top-search{
        height: 104px;
        background: #FFFFFF;
        box-sizing: border-box;
        padding: 14px 32px;
        .search-box{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 76px;
            background: #F5F6F9;
            border-radius: 38px;
            .placeholders{
                color: #9C9DA6;
                font-size: 28px;
                padding-left: 2px;
            }
        }
    }
    .inde_page_container{
        box-sizing: border-box;
        display: block;
        padding-bottom: 32px;
        .temp-warp{
            width: 670px;
            // height: 912px;
            background: #FFFFFF;
            box-shadow: 0px 20px 60px 0px rgba(10, 36, 99, 0.04);
            border-radius: 32px;
            box-sizing: border-box;
            margin: 40px auto 0;
            overflow: hidden;
            transition: all 0.5s ease-in;
            .masks{
                width: 100%;
                height: 100%;
                overflow: hidden;
            }
            .title{
                text-align: center;
                margin-bottom: 30px;
                padding: 40px 42px 0;
                .txt{
                    display: block;
                    font-size: 48px;
                    color: #121314;
                    transition: all .5s ease-in;
                }
                .sub-title{
                    font-size: 24px;
                    color:#9C9DA6;
                    transition: all .5s ease-in;
                }
            }
            .swiper-back{
                position: relative;
                .indicatorDots{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: absolute;
                    right: 18px;
                    top: 50%;
                    transform: translate(0,-50%);
                    .dot{
                        width: 12px;
                        height: 12px;
                        background: rgba(0,0,0,0.15);
                        border-radius: 50%;
                    }
                    .dot+.dot{
                        margin-top: 8px;
                    }
                    .active{
                        background: #FF4966;
                        transition: all 0.5s;
                    }
                }
            }
            .temp-swiper{
                width: 574px;
                height: 366px;
                border-radius: 20px;
                margin: 0 auto;
                overflow: hidden;
                .photo{
                    width: 574px;
                    height: 366px;
                    border-radius: 20px;
                    overflow: hidden;
                    &>img{
                        border-radius: 20px;
                    }
                }
            }
            .grid{
                display: flex;
                flex-wrap: wrap;
                padding: 40px 42px 0;
                .photo-warp{
                    width: 174px;
                    height: 250px;
                    border-radius: 8px;
                    margin-bottom: 24px;
                    margin-right: 31px;
                    .photo{
                        width: 174px;
                        height: 250px;
                        border-radius: 8px;
                    }
                }
                .photo-warp:nth-child(3n){
                    margin-right: 0;
                }
            }
            .seemore{

                width: 590px;
                height: 96px;
                background: #F5F6F9;
                border-radius: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 24px;
                margin: 0 auto 40px;
                .txt{
                    font-size: 28px;
                    color: #9C9DA6;
                }
            }
            .coverflow{
                // width: 574px;
                // height: 366px;
                position: relative;
                .item{
                    width: 574px;
                    // height: 366px;
                    border-radius: 20px;
                    position: absolute;
                    // box-shadow: 0px 20px 60px 0px rgba(10, 36, 99, 0.04);
                    .photo{
                        width: 574px;
                        height: 366px;
                        border-radius: 20px;
                        &>img{
                            width: 574px;
                            height: 366px;
                            border-radius: 20px;
                        }
                    }
                }
            }
            .now-design-btn{
                width: 590px;
                height: 96px;
                background: #FF4966;
                border-radius: 24px;
                margin: 100px auto 40px;
                font-size: 28px;
                font-weight: 500;
                color: #FFFFFF;
                // margin-top: 800px;
            }

        }
        .product-item{
            background: #FFFFFF;
            border-radius: 32px;
            overflow: hidden;
            width: 670px;
            margin: 34px auto 0;
            .image{
                width: 670px;
                height: 348px;
                line-height: 0;
                display: flex;
            }
            .bottom{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 28px 32px;
                .left{
                    display: flex;
                    flex-direction: column;
                    .title{
                        font-size: 36px;
                        font-weight: 500;
                        color: #121314;
                        margin-bottom: 4px;
                    }
                    .subtitle{
                        font-size: 24px;
                        font-weight: 400;
                        color: #9C9DA6;
                    }
                }
                .right-btn{
                    width: 176px;
                    height: 64px;
                    background: #FF4966;
                    border-radius: 48px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .txt{
                        font-size: 28px;
                        font-weight: 500;
                        color: #FFFFFF;
                    }
                }
            }
        }

    }
}

.special_container, .special_main, .special_scroll, .special_item_wrap, .special_animate_container, .special_bar_ctx{
    box-sizing: border-box;
    width: 100%;
    display: block;
}
.special_container{
    position: relative;
    .special_animate_container{
        height: 438px;
        overflow: hidden;
        transition: height .3s ease-in-out;
    }
    .animate_container_bg{
        height: 438px;
        position: relative;
        .animate_img{
            width: 100%;
            height: 438px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }
        .txt_container{
            height: 438px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .close_btn{
                width: 64px;
                height: 65px;
                position: absolute;
                top: 32px;
                left: 32px;
                z-index: 10;
            }
            .h1{
                color: #FFFFFF;
                font-size: 36px;
                display: flex;
                align-items: flex-end;
                margin-bottom: 12px;
                padding-left: 40px;
            }
            .ext{
                display: block;
                font-size: 24px;
                color: #ffffff45;
                padding-left: 40px;
                margin-bottom: 50px;
            }
            .action_bar{
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                background: #fff;
                border-radius: 32px 32px 0px 0px;
                width: 100%;
                height: 64px;
                .bar{
                    width: 76px;
                    height: 10px;
                    background: #EDEDEF;
                    border-radius: 200px;
                }
            }
        }
    }
    .special_main{
        background: #ffffff;
        padding-top: 15px;
    }
    .special_scroll{
        transition: padding-top .3s ease-in-out;
    }
    .special_scroll_main{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 0 16px;
    }
    .special_item_wrap{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    .special_item{
        width: 330px;
        height: 606px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
    }
    .special_item_img{
        width: 330px;
        height: 606px;
        border-radius: 16px;
    }
    .special_bar_ctx{
        position: fixed;
        top: -200px;
        height: 50px;
        left: 0;
        z-index: 2000;
        background: #fff;
        transition: all .3s ease-in-out;
    }
    .show_bar{
        top: 0;
    }
}


.index_swiper_main{
    width: 574px;
    height: 366px;
    border-radius: 20px;
}

.index_coupon_main{
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 670px;
    // height: 912px;
    box-shadow: 0px 20px 60px 0px rgba(10, 36, 99, 0.04);
    border-radius: 32px;
    margin: 40px auto 0;
    overflow: hidden;
    .coupon_img{
        display: block;
        width: 100%;
        height: auto;
    }
    .receive_btn{
        position: absolute;
        bottom: 42px;
        left: 40px;
        z-index: 100;
        width: 200px;
        //height: 80px;
        .receive_img{
            width: 200px;
            //height: 80px;
        }
        .anim_btn_receive{
            width: 200px;
            height: 64px;
            border-radius: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #ff3d3c;
            box-shadow: 0 14px 32px -10px #ff4966;
            animation: coupon_inf_anim infinite 1s ease-in-out;
            padding-left: 10px;
            line-height: 2px;
            .txt{
                color: #fff;
                font-size: 28px;
                display: flex;
                align-items: center;
                justify-content: center;
                vertical-align: middle;
                font-weight: 600;
            }
            .icon{
                display: flex;
                align-items: center;
                justify-content: center;
                vertical-align: middle;
                padding-top: 2px;
            }
        }
    }
}
@keyframes coupon_inf_anim {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
