.upload_container{

    .card_view{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: #121314;
        width: 248px;
        height: 248px;
        color: #fff;
        font-size: 16px;
        .title{
            margin-top: 8px;
        }
    }
}
