.TipModal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    transition: visibility 200ms ease-in;
    z-index: 1000;
    .TipModal__overlay{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.3);
    }
    .TipModal__container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 590px;
        height: 322px;
        border-radius: 32px;
        background-color: #FFF;
        overflow: hidden;
        .TipModal__content{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 209px;
            padding: 0;
            .tip-txt{
                font-size: 32px;
                color: #121314;
            }
        }
    }
    .TipModal__overlay, .TipModal__container {
        opacity: 0;
        -webkit-transition: opacity 200ms ease-in;
        -o-transition: opacity 200ms ease-in;
        transition: opacity 200ms ease-in;
    }
    .TipModal__footer{
        position: relative;
        .TipModal__action{
            display: flex;
            &>button{
                -webkit-flex: auto;
                -ms-flex: auto;
                flex: auto;
                -webkit-box-flex: auto;
                overflow: hidden;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                white-space: nowrap;
                -webkit-transition: background-color 0.3s;
                -o-transition: background-color 0.3s;
                transition: background-color 0.3s;
                margin-top: 0;
                min-width: 160rpx;
                height: 112rpx;
                color: #333;
                font-size: 32rpx;
                line-height: 112rpx;
                text-align: center;
                outline: 0;
                border: 0;
                border-radius: 0;
                background-color: transparent;
            }
            &>button:last-child{
                color: #FF4966;
            }
            &> button::after {
                border: 0;
                border-radius: 0;
                width: initial;
                height: initial;
            }
            &>button:not(:first-child)::after {
                content: '';
                position: absolute;
                -webkit-transform-origin: center;
                -ms-transform-origin: center;
                transform-origin: center;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                pointer-events: none;
                top: 0;
                left: 0;
                right: auto;
                bottom: 0;
                -webkit-transform: scaleX(0.5);
                -ms-transform: scaleX(0.5);
                transform: scaleX(0.5);
                border-left: 1PX solid #E5E5E5;
            }

        }
    }
    .TipModal__footer::before{
        content: '';
        position: absolute;
        -webkit-transform-origin: center;
        -ms-transform-origin: center;
        transform-origin: center;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        pointer-events: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: auto;
        -webkit-transform: scaleY(0.5);
        -ms-transform: scaleY(0.5);
        transform: scaleY(0.5);
        border-top: 1PX solid #E5E5E5;   
    }
}
.TipModal_active{
    visibility: visible;
    .TipModal__overlay, .TipModal__container{
        opacity: 1;
    }
}
