.me{
    background-color: #F5F6F9;
    min-height: 90vh;

}
.cus_item{
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #ff4e58;
}
.topBox{
    position: relative;
    padding: 0 32px;
    height: 574px;
    background: linear-gradient(180deg, rgba(244, 175, 175, 0.55) 0%, #F5F6F950 100%);
    .baseInfo {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 52px;
        margin-bottom: 48px;
        z-index: 1;
        .avator{
            width: 140px;
            height: 140px;
            border-radius: 50%;
            overflow: hidden;
            .avatarImg{
                width: 140px;
                height: 140px;
                border-radius: 50%;
            }
        }
        .nickname{
            font-size: 48px;
            padding-left: 44px;
            color: #121314;
        }
    }
    .orderWarp{
        width: 686px;
        border-radius: 30px;
        background: #FFFFFF;
        padding-top: 24px;
        padding-bottom: 28px;
        .myorall{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 32px;
            padding-right: 44px;
            margin-bottom: 28px;
            .myorder{
                color: #121314;
                font-size: 32px;
            }
            .allorder{
                display: flex;
                align-items: center;
                color: #9C9DA6;
                font-size: 24px;
            }

        }
        .orderstate{
            display: flex;
            align-items: center;
            justify-content: space-around;
            .oitem{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .orderText{
                color: #121314;
                font-size: 24px;
                padding-top: 14px;
            }
        }
    }
}

.topBox .top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 56px 0 0;
    .ops{
        display: flex;
        flex-direction: row;
        align-items: center;
        .coupon{
            margin-left: 40px;
        }
        .set{
            margin-left: 40px;
        }
    }
}
.me{
    .container{
        width: 750px;
        min-height: 200vh;
        background: #FFFFFF;
        border-radius: 48px 48px 0px 0px;
        margin-top: 32px;
        padding-bottom: 40px;
        .switchBox{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 32px 40px 18px;
            border-bottom: 1px solid #EDEDEF;
            margin-bottom: 32px;
            .switchBar{
                display: flex;
                align-items: flex-start;
                &>.item{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .text{
                        color: #707177;
                        font-size: 32px;
                        margin-right: 48px;
                    }
                }
                .active{

                    .text{
                        color: #121314;
                    }
                    .icon{
                        width: 64px;
                        height: 16px;
                    }
                }
            }
            .total{
                color:#9C9DA6;
                font-size: 24px;
            }
        }
        .content{
            padding: 0 32px;
            &>.item{
                margin-bottom: 8px;
                .dates{
                    display: flex;
                    align-items: center;
                    margin-bottom: 6px;
                    .day{
                        width: 72px;
                        height: 72px;
                        background: rgba(255, 73, 102, 0.1);
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .circle{
                            width: 48px;
                            height: 48px;
                            background: rgba(255, 73, 102, 1);
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .text{
                                color: rgba(255, 255, 255, 1);
                                font-size: 28px;
                            }
                        }

                    }
                    .date{
                        font-size: 28px;
                        color: #121314;
                        padding-left: 24px;
                    }
                    .more{
                        margin-left: auto;
                        margin-right: 0;
                    }
                }
                .box{
                    margin-left: 36px;
                    border-left: 1px solid #EDEDEF;
                    padding-top: 1px;
                    display: flex;
                    line-height: 0;
                    padding-bottom: 40px;

                    .cns{
                        margin-top: -16px;
                        padding-left: 58px;


                        .neir{
                            color: #9C9DA6;
                            font-size: 28px;
                            display: block;
                            line-height: 32px;
                            margin-bottom: 24px;
                        }
                        .pic{
                            width: 400px;
                            border-radius: 16px;
                            z-index: 1;
                        }
                        .docker{
                            position: relative;
                            overflow: hidden;
                            width: 500px;
                            height: 360px;
                            .nook {
                                display: block;
                                width:200px;
                                height:44px;
                                background: #FF4966;
                                transform:rotate(-45deg);
                                position:absolute;
                                left:-52px;
                                top:26px;
                                color:#fff;
                                line-height: 42px;
                                font-size:28px;
                                text-align:center;
                                z-index: 99;
                            }
                        }
                    }

                }

            }
            .years{
                margin-bottom: 24px;
                &>text{
                    font-size: 48px;
                    color: #121314;
                    font-weight: bold;
                }
            }
        }
    }
}
.sub-menu{
    position: absolute;
    top: 828px;
    // left: 221px;
    z-index: 999;
    right: 16px;
    .list{
        background: #FFF;
        // border: 1px solid #ccc;
        border-radius: 16px;
        width: 280px;

        box-shadow: 0 6px 12px -8px rgba(0,0,0,.12), 0 12px 32px 0 rgba(0,0,0,.08), 0 18px 56px 16px rgba(0,0,0,.05);
        .triangle{
            position: absolute;
            z-index: 1;
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 12px;
            transform: rotate(45deg);
            top: -10px;
            left: 90%;
            margin-left: -20px;
            border-color: #fff transparent transparent #fff;
            box-shadow: -4px -4px 10px rgba(0,0,0,.06);
        }
        // .triangle::before{
        //     content: "";
        //     border:10px solid transparent;
        //     border-bottom-color: #FFF;
        //     position: absolute;
        //     top: -9px;
        //     left: 85%;
        //     margin-left: -10px;
        // }
        .item{
            display: flex;
            align-items: center;
            padding: 20px 0 20px 24px;
            .item-text{
                font-size: 28px;
                color: #121314;
                padding-left: 20px;
            }
        }
        .item:last-child{
            border-top: 1px solid #EDEDEF;
            padding: 26px 0 26px 24px;
            .item-text{
                color: #FF4966;
            }
        }
    }
    // .list::before{
    //     position: absolute;
    //     display: inline-block;
    //     width: 0;
    //     height: 0px;
    //     content: '';
    //     border-style: solid;
    //     border-width: 6px;
    //     border-color: #fff #fff transparent transparent;
    //     box-shadow: -2px -2px 5px rgba(0,0,0,.06);
    //     top: -6px;
    //     left: 85%;
    //     transform: rotate(-45deg);
    //     z-index: 1;
    // }

}

.temp_pop{
    .txt{
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid #ff11ff;
        font-size: 28px;
    }
}
