.taro_page{
    background: #F5F6F9;
}
.setting{
    .slist{
        padding-top: 48px;
        .title{
            font-size: 28px;
            color: #9C9DA6;
            padding-left: 32px;
            margin-bottom: 12px;
        }
        .item{
            padding: 40px 32px;
            background: #FFF;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .name{
                color: #121314;
                font-size: 32px;
            }
        }
    }
    .quit{
        height: 96px;
        background: #FFFFFF;
        border-radius: 48px; 
        margin: 48px 32px 0;
        padding: 0;
        font-size: 32px;
        font-weight: 500;
        color: #FF4966;
        width: 686px;
    }
}