.load_more_view{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    font-size: 22px;
    color: #bbb;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    .txt{
        margin-left: 15px;
    }
}
